<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakshmbhat.sit_hub_end_user">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIT_HUB_END_USER">
        <activity android:name=".nav_drawer.clubsOfSIT.SingleClubDescriptionActivity"></activity>
        <activity
            android:name=".nav_drawer.clubsOfSIT.ClubsOfSitActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav_drawer.developerReference.DeveloperReferenceActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ZoomableImageViewActivity" />
        <activity
            android:name=".nav_drawer.internal_links.InternalLinksActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".nav_drawer.ebook.EbookViewActivity" />
        <activity
            android:name=".nav_drawer.ebook.EbookActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>